name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:

permissions:
  contents: read

jobs:
  build-and-unit-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: "17"
          cache: gradle

      - name: Make Gradle executable
        run: chmod +x ./gradlew

      - name: Unit tests
        run: ./gradlew testDebugUnitTest --no-daemon

      - name: Assemble debug
        run: ./gradlew assembleDebug --no-daemon